# LangChain 및 관련 패키지
langchain>=0.1.16
langchain-community
langchain-core>=0.1.0
langchain-openai>=0.1.0
langchain-unstructured>=0.0.3

# Jupyter 환경
jupyter
ipykernel

# 공통 유틸리티
tiktoken>=0.6
python-dotenv
pandas
networkx

# ONNX 계열
onnx-weekly            
onnxruntime==1.21.0      
protobuf<5                

# Unstructured
unstructured
unstructured[pdf]
unstructured-inference
unstructured.pytesseract

chromadb
faiss-cpu
streamlit>=1.20.0
streamlit-chat
fastapi[all]

